<div
  class="navbar navbar-expand-sm navbar-light navbar-lewagon"
  data-controller="navbar"
  data-action="scroll@window->navbar#scroll"
>
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'logo.png' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% link_url = @is_full_path ? root_url : "" %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Bicicletas", "#{link_url}#bike", class: "nav-link" , data: { turbolinks: false }%>
      </li>
      <li class="nav-item">
        <%= link_to "Patinetas", "#{link_url}#scooter", class: "nav-link", data: { turbolinks: false }%>
      </li>
      <li class="nav-item">
        <%= link_to "¿Cómo Funciona?", "#{link_url}#how-it-works", class: "nav-link" , data: { turbolinks: false }%>
      </li>
      <li class="nav-item">
        <%= link_to "¿Dónde Usarlas?", "#{link_url}#map-container", class: "nav-link" , data: { turbolinks: false }%>
      </li>
      <li class="nav-item">
        <%= link_to "Planes", plans_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
