<div class="banner banner-padding" style="background-image: linear-gradient(to top, rgba(65,67,69,0.48), rgba(65,67,69,0.48)), url('<%= cl_image_path("poncho/banner-02.jpg")%>');">
  <div class="form-container">
    <h1 class="form-title">Registro prueba piloto</h1>
    <p class="form-description text-center pb-2">Nos encontramos realizando la validación del producto, si te parece interesante la idea y piensas que podrías ser usuario de la plataforma, selecciona el plan en el que estarías interesado y dejanos tus datos para comunicarnos contigo y ser pionero del proyecto</p>
    <%= simple_form_for @subscription, url: plans_path do |f| %>
      <h2 class="form-subtitle">1. Escoge un plan</h2>
      <div class="radio-options">
        <div class="radio-option">
          <input class=" form-check-input radio_buttons required" type="radio" value="bike" required name="subscription[plan]" id="subscription_type_bike">
          <label class="form-check-label collection_radio_buttons" for="subscription_type_bike">
            <div class="circle"></div>
            <h6>Plan Burrita</h6>
            <div class="option" style="background-image: url('<%= cl_image_path("poncho/bicicleta.png", width: 120, height: 120)%>');"></div>
            <h5>$150,000/Mes</h5>
          </label>
        </div>
        <div class="radio-option">
          <input class=" form-check-input radio_buttons required" required type="radio" value="scooter" name="subscription[plan]" id="subscription_type_scooter">
          <label class="form-check-label collection_radio_buttons" for="subscription_type_scooter">
            <div class="circle"></div>
            <h6>Plan Scooter</h6>
            <div class="option" style="background-image: url('<%= cl_image_path("poncho/PATINETA.png", width: 120, height: 120)%>');"></div>
            <h5>$120,000/Mes</h5>
          </label>
        </div>
      </div>
      <h2 class="form-subtitle">2. Ingresa tus datos de contacto</h2>
      <div class="basic-info-container">
        <%= f.input :name, label: "Nombre Completo" %>
        <%= f.input :email, label: "Correo Eléctrónico" %>
      </div>
      <div class="text-right pt-5">
        <%= f.submit "Reservar", class: "button2 banner-call-to-actions" %>
      </div>
    <% end %>
  </div>
</div>
